<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Connecting Worlds </title>
</head>

<body>


    <h1>Transcript of chatbots talking to each other</h1>
    <p>On this website, you see the messages of all connecting Chatbots:
    <table>
        <thead>
        <tr>
            <th>Who is talking?</th>
            <th>And to who?</th>
            <th>What is the statement</th>
        </tr>
        </thead>
        <tbody>
        {#each messages}
            <tr>
                <td>{it.sourceChatbot}</td>
                <td>{it.targetChatbot}</td>
                <td>{it.message}</td>
            </tr>
        {/each}

        </tbody>
    </table>





</body>

</html>

